html {
    height: 100%
}

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 70px;
    background-color: #cd0000;/*若竹色*/
    margin: auto;
}

header h1{
    margin: 0;
    margin-left: 2vw;
    line-height: 70px;
    float: left;
    font-family: sans-serif;
    font-size: 45px;
    color: white;
}

header strong{
    color: #ffd700;
}

.img_title img{
    width: 65vw;
    margin-bottom: 30px;
    margin-top: 10px;
}

.img_nomal{
    width: 45vw;
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
}

.img_nomal img{
    width: 45vw;
    margin: 0;
}

.img_nomal_2{
    width: 90%;
    display: flex;
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
}

.img_nomal_2 img{
    height: 300px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.img_nomal p{
    text-align: left;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.text_box{
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0px;
}

.text_nomal{
    font-size: 20px;
    margin: 0;
    text-align: left;
    font-family: sans-serif;
}

h2{
    width: 800px;
    font-size: 45px;
    font-family: serif;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 15px;
    border-bottom: 5px solid black;
}

h3{
    width: 300px;
    font-size: 22px;
    padding: 5px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: sans-serif;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}

.title{
    margin: 0;
    margin-top: 70px;
    padding: 230px;
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: #aacf53;/*萌黄*/
}

.first{
    margin: 0;
    padding: 230px;
    padding-top: 40px;
    padding-bottom: 15px;
    background-color: #a0d8ef;/*空色*/
}

.second{
    margin: 0;
    padding: 230px;
    padding-top: 40px;
    padding-bottom: 15px;
    background-color: #f4b3c2;/*鴇色*/
}

.third{
    margin: 0;
    padding: 230px;
    padding-top: 40px;
    padding-bottom: 15px;
    background-color: #f8b862;/*萱草色*/
}

.fourth{
    margin: 0;
    padding: 230px;
    padding-top: 40px;
    padding-bottom: 15px;
    background-color: #17184b;/*鉄紺*/
}

.fourth h2{
    color: white;
    border-color: white;
}

.fourth p{
    color: white;
}

footer{
    height: 25px;
    margin: 0;
    background-color: #cd0000;
}

footer p{
    margin: 0;
    font-size: 17px;
    line-height: 25px;
    color: #ffd700;
}
