html {
    height: 100%
}

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    text-align: center;
    color: black;
}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: #cd0000;/*若竹色*/
    margin: auto;
}

header h1{
    margin: 0;
    margin-left: 2vw;
    line-height: 100px;
    float: left;
    font-family: HG正楷書体-PRO;
    font-size: 60px;
    color: white;
}

header strong{
    color: #ffd700;
}

.text_box {
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
}

.text_nomal{
    font-size: 20px;
    margin: 0;
    text-align: left;
}

h2{
    font-size: 45px;
    font-family: serif;
    padding-bottom: 10px;
    margin: 15px;
    border-bottom: 3px solid black;
}

.first{
    margin: 0;
    margin-top: 100px;
    padding: 20px;
    padding-top: 10px;
    background-color: #a0d8ef;/*空色*/
}

.second{
    margin: 0;
    padding: 20px;
    padding-top: 25px;
    background-color: #f4b3c2;/*鴇色*/
}

.third{
    margin: 0;
    padding: 20px;
    padding-top: 25px;
    background-color: #f8b862;/*萱草色*/
}

.fourth{
    margin: 0;
    padding: 20px;
    padding-top: 25px;
    background-color: #17184b;/*鉄紺*/
}

.fourth h2{
    color: white;
    border-color: white;
}

.fourth p{
    color: white;
}

footer{
    height: 25px;
    margin: 0;
    background-color: #cd0000;
}

footer p{
    margin: 0;
    font-size: 17px;
    line-height: 25px;
    color: #ffd700;
}